.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #dde8f0;
  color: #001b48;
  padding: 2rem 10vw;
  .page__title{
    font-size: 3rem;
    margin-top: 5rem;
    font-weight: 500;
    @media only screen and (max-width: 600px){
      font-size: 2rem;
    }
  }

  .page__departments{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    .page__department{
      width: 80vw;
      border: 0.25rem solid #004581;
      border-radius: 1rem;
      background-color: #97cbdc;
      height: 6rem;
      font-size: 2rem;
      cursor: pointer;
    }
    .page__department:hover {
      background-color: #7bbcd1;
    }
  }
}